* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width:60%;
    margin: 0 auto;
    background: #140f32;
    color: antiquewhite;
}

#header {
    width: 98%;
    color: antiquewhite;
    margin-bottom: 40px;

    & #logo {
        text-transform: uppercase;
        letter-spacing: 2px;
    }

}

#btns {
    display: flex;
    float: right;
}
#typeUser {
    display: block;
    & label {
        display: block; 
        font-size: 18px;
    }

    & textarea {
        display: block;
        border-radius: 10px;
        background-color: antiquewhite;
        width: 400px;
        height: 100px;
    }
}

#btnPost {
    display: block; 
    font-size: 14px;
    padding: 4px;
    font-weight: bold;
    background-color: antiquewhite;
    cursor: pointer;
    transition: all .3s ease;
    
    &:hover {
        transform: scale(1.1);
    }
}

.styled-message {
    width: 40%;
    height: auto;
    background-color: #fff;
    color: black;
    margin: 10px;
}

#posts {
    margin-top: 50px;
}

.name-user-message {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: white;
}